@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
/*p {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
*/

body {
    background-color: aliceblue;
    align-items: center;
}

h3 {
    color: maroon;
    align-items: center;
}

p {
    font-family: 'Muli', sans-serif;
    color: slateblue;
    font-weight: 400;
    line-height: 1.58;
    letter-spacing: -.003em;
    font-size: 20px;
    padding: 70px;
  }

 